.colors{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}
.colors p {
    margin:0;
    padding: 0;
}

.color-btn{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.color-btn svg{
    font-size: 0.75rem;
    color: white;
}

.active{
    opacity: 1;
}