.details-images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.details-images img{
    width: 95%;
    display: block;
    object-fit: cover;
    border-radius: 2rem;

}
.images-select{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    margin: auto;
    cursor: pointer;
    height: 100px;
    padding-top: 2rem
};


