aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}
article p {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 0.8rem;
    line-height: 1.15rem;
    margin-top: 0.3rem;
}
article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
}
article h2 {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: left;
}
article h3{
    padding: 0.3rem;
    margin: 1rem 0 0 0;
    box-sizing: border-box;
    text-align: left;
}
article h6 {
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 300;
}

article h5{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}